* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  background: transparent;
  z-index: 10;
  position: fixed;  
  width: 60%;
  
}
.container{
  display: flex;
  justify-content: space-around;
}
.brand-logo{
  text-decoration: none;
  color: black;
  font-size: 1.7rem;
  font-weight: bolder;
  margin-right: 1.5rem;
}

.menu-item{
  text-decoration: none;
  color: black;
  margin-right: 1.5rem;
  font-size: 1.2rem;
  
  padding-bottom: 1rem;
  
}
.menu-item:hover{
  border-bottom: 2px solid black;
  color: black;
}